#pieces {
    display: none;
}
/* #5ad157*/
body, html {
    width: 100%;
    height: 100%;
    background: #c001af;
    overflow: hidden;
}

#whiteInCheck {
    position: absolute;
    visibility: hidden;
    background: white;
    left: 520px;
    top: 10px;
    color: black;
}

#blackInCheck {
    visibility: hidden;
    left: 520px;
    top: 70px;
    position: absolute;
    background: black;
    color: white;
}


#reset {
    background: yellow;
    position: absolute;
    top: 130px;
    right: 75px;
}