#pieces {
    display: none;
}
/* #5ad157*/
body, html {
    width: 100%;
    height: 100%;
    background: #c001af;
    overflow: hidden;
}

#board {
    background: white;
}

#reset {
    background: yellow;
    position: absolute;
    top: 100px;
    right: 75px;
}